.reposMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.languageBtnUl {
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popularHeading {
  font-size: 4vw;
  font-family: 'Lobster';
  color: #0f172a;
}

.repoItemsUrl {
  list-style-type: none;
  width: 70%;
  padding: 0px;
}

.failureCard {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failureCard > img {
  width: 90%;
}
