.languageBtn {
  border: none;
  background-color: transparent;
  color: #0f172a;
  font-size: 1.2vw;
  font-weight: bold;
}

.active {
  color: #0284c7;
  background-color: transparent;
  border: 2px solid #0284c7;
  border-radius: 2px;
}
